.Header{
    background-color: purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    
}
.header-logo{
    color: #1A1919;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
}
nav .nav{
    text-decoration: none;
    margin-right: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px; 
    color: #757575;
}
.Header-btn{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    padding: 19px 28px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    /* font-size: 20px; */
}



@media screen and (max-width: 768px) {
    .Header{
        display: block;
        flex-direction: column;
    }
    nav .nav{
        margin-bottom: 16px;
        margin-left: 0px;
        display: block;
        text-align: center;
    }
    .Header-btn{
         padding: 9px 14px;
         font-weight: 300;
    }
    .Header-btn-d{
        text-align: center;
    }
}